body{
  background-color: #e9e9e4;
  margin: 0;
  padding: 0;
}


nav{
  background-color: #abaa97;
  overflow: hidden;
  padding: 5px;
}

.nav-links {
  float: right;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 22px;
	font-family: 'Arsenal', sans-serif;
  color: #ddcbb9;
}

.logo{
  margin-top: -60px;
  margin-left: 20px;
  float: left;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 60px;
	font-family: 'Rubik Mono One', sans-serif;
  text-shadow: 2px 2px #e0e0e0;
  color: #ddcbb9;
  background-color: #dadae6;
}
  
.nav-links:hover {
	border-radius: 5px;
	color:  #e9e9e4;
  background-color: 	#b3b4cb;
}

h1{
  font-size: 60px;
  font-family: ;
  color:#b3b4cb;
  padding: 20px;
  text-align: center;
}

h2{
  font-size: 30px;
  font-family: 'Rubik Mono One', sans-serif;
  text-shadow: 2px 2px #e0e0e0;
  color: #ddcbb9;
  margin-left: 30vh;
  background-color: #dadae6;
  padding: 20px;
  margin-bottom: -1vh;
}

.pros{
  width: 200px;
}

.colab{
  width: 350px;
}

p{
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 20px;
  color: #4b2f12;
}

button{
  border: none;
  background-color: 	#b3b4cb;
  font-size: 20px;
  font-family: 'Rubik Mono One', sans-serif;
  text-shadow: 2px 2px #e0e0e0;
  color: #ddcbb9;
}

div{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 10vh;
  background-color: 	#d0d0c6;
  padding: 40px;
}

div .text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

div.p1{
  margin-top: 40px;
  margin-right: 3%;
   float: right; 
   text-align: right;
}


footer {
  background-color: #b3b4cb;
  text-align:center;
  overflow: hidden;
  bottom: 0;
  width: 100%;
}

.footer-text{
  font-family:'Baloo 2', cursive;
  color: white;
}

